@import url("https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden; /* Evita o estouro horizontal */
  overflow-y: auto;
}
body {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
header {
  background-image: linear-gradient(#010339, #0009dc);
  background-size: 100%;
  color: #fff4e2;
  height: 105px;
}
#logo {
  width: 100px;
  height: 100px;
  margin: 10px;
}
.forms {
  height: 30px;
}
nav {
  background-color: #0d1c51;
  width: 100%;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
nav .redirecionamento {
  display: flex;
  justify-content: center;
  width: 100%;
}
nav .redirecionamento a {
  text-align: center;
  text-decoration: none;
  color: white;
}
#divBusca {
  background-color: #bcc7ff;
  border: solid 1px;
  border-radius: 15px;
  height: 50px;
  padding-left: 5px;
  width: 100%;
  min-width: 80px;
}
#img {
  padding: 20px;
  text-align: right;
  width: 5%;
  height: 60%;
}
#img2 {
  text-align: right;
  width: 20%;
  min-width: 35px;
  height: 100%;
  align-content: center;
  justify-self: center;
}
#txtBusca {
  float: left;
  background-color: transparent;
  font-style: italic;
  font-size: 18px;
  border: none;
  height: 100%;
  width: 100%;
}
#icone {
  width: 40px;
  height: 40px;
}
.column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  min-height: 100%;
  margin-bottom: -30px;
}
#btnBusca {
  width: 35px;
  height: 35px;
}
.column2 {
  float: inline-end;
  align-items: center;
  width: 80%;
  height: 100%;
}
#colunaBusca {
  display: flex;
  width: 20%;
}
#divlogo {
  width: 10%;
  min-width: 100px;
}
#titulo {
  width: 60%;
}
.column2:nth-child(1) {
  order: 1;
}

.column2:nth-child(2) {
  order: 2;
}
footer {
  display: flex;
  background-color: #333;
  color: #fff;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
}

header h1,
footer p {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
