* {
  margin: 0;
  padding: 0;
}

.section1 {
  display: grid;
  gap: 30px;
  grid-template-areas:
    "espace"
    "cont1"
    "cont2"
    "cont3"
    "midia";
}
.espace {
  grid-area: espace;
  margin-top: 20px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.espace h2 {
  font-size: 2em;
  padding: 10px;
  text-align: center;
  width: 50%;
}
.midia {
  grid-area: midia;
}
.content1 {
  grid-area: cont1;
}
.content2 {
  grid-area: cont2;
}
.content3 {
  grid-area: cont3;
}
.content1,
.content2,
.content3 {
  display: grid;
  grid-template-areas:
    "stack "
    "stack "; /* Cria duas linhas com a mesma área */
  position: relative;
  width: 100%;
  height: 300px;
  border: 1px solid black;
}
.midia {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: auto;
  align-items: center;
  margin: 20px;
}
.midia h3 {
  margin: 20px;
  font-size: 1.5em;
}
.link {
  margin-left: -40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.link a {
  border: black 1px solid;
  border-radius: 12px;
  padding: 10px;
  margin: 5px;
  background-color: #1f2f83;
  text-decoration: none;
  color: white;
  text-align: center;
}

.image {
  display: flex;
  grid-area: stack;

  position: relative;
  justify-content: center;
  align-items: center;
}
.img {
  z-index: 2;
  text-align: center;
  color: black;
  background-color: #000000;
}
.img p {
  border: 1px solid black;
  background-color: white;
}
.text {
  grid-area: stack;
  background-color: #1f2f83;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 60%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: end;
}
.text p {
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  font-size: 100%;
}
.git {
  height: 50px;
  width: 50px;
}
