@import url("https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html,
body {
  width: 100vw;
  height: 100vw;
}

header {
  background-image: linear-gradient(#010339, #0009dc);
  background-size: 100%;
  color: #fff4e2;
  height: 150px;
}
#logo {
  width: 100px;
  height: 100px;
  margin: 10px;
}
.forms {
  height: 30px;
}
nav {
  background-color: #0d1c51;
  width: 100%;
  height: 30%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
nav a {
  width: 100%;
  text-decoration: none;
  color: white;
}
#divBusca {
  background-color: #bcc7ff;
  border: solid 1px;
  border-radius: 15px;
  height: 50px;
  padding-left: 5px;
  width: 100%;
  min-width: 80px;
}
#img {
  padding: 20px;
  text-align: right;
  width: 5%;
  height: 60%;
}
#img2 {
  text-align: right;
  width: 20%;
  height: 100%;
  align-content: center;
  justify-self: center;
}
#txtBusca {
  float: left;
  background-color: transparent;
  font-style: italic;
  font-size: 18px;
  border: none;
  height: 100%;
  width: 100%;
}
#icone {
  width: 40px;
  height: 40px;
}
.column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.conteiner {
  display: flex;
  height: 100%;
  min-height: 100%;
  margin-bottom: -30px; /* Ajuste conforme a altura do footer */
}
#btnBusca {
  width: 35px;
  height: 35px;
}
.column2 {
  float: inline-end;
  align-items: center;
  width: 80%;
  height: 100%;
}
#colunaBusca {
  display: flex;
  width: 20%;
}
#divlogo {
  width: 10%;
  min-width: 100px;
}
#titulo {
  width: 60%;
}
.column2:nth-child(1) {
  order: 1; /* Vem primeiro */
}

.column2:nth-child(2) {
  order: 2; /* Vem depois */
}
main {
  display: flex;
  background-color: #4f699d;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vw;
}

.section1 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.section2 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.item1 {
  display: flex;
  align-content: space-between;
  width: 80%;
  height: 90%;
  background-color: #1f2f83;
}

.item2 {
  display: flex;
  width: 90%;
  height: 50%;
  background-color: #1f2f83;
}
.oferta {
  display: flex;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}
.column3 {
  display: flex;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  align-content: center;
  height: 100%;
}
#img1 {
  padding: 30px;
}
main section div p {
  font-size: 2rem;
  padding: 10px;
  text-align: center;
}
main section div a {
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  text-align: center;
  background-color: #002d37;
  color: #7adfff;
  border-radius: 15px;
  border: 1px solid black;
}

footer {
  display: flex;
  background-color: #333;
  color: #fff;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
}

header h1,
footer p {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
